node_modules/
*.log
gagaclaw.json
cronjobs.json
mcp_config.json
discord_sessions.json
queue/
Sent/
toSend/
research/
workspace/*
!workspace/soul.example.md
!workspace/memory.example.md
workspace-discord-bot/*
!workspace-discord-bot/soul.example.md
!workspace-discord-bot/memory.example.md
!workspace-discord-bot/download/
workspace-discord-bot/download/*
!workspace-discord-bot/download/.gitkeep
!workspace-discord-bot/toSend/
workspace-discord-bot/toSend/*
!workspace-discord-bot/toSend/.gitkeep
*.png
!gagaclaw_logo.png
.claude/
.agents/*
