node_modules/
*.log
gagaclaw.json
cronjobs.json
queue/
Sent/
toSend/
research/
workspace/*
!workspace/soul.example.md
!workspace/memory.example.md
*.png
!gagaclaw_logo.png
.claude/
.agents/*
!.agents/rules/
.agents/rules/*
!.agents/rules/rules.example.md
